@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-alert, .icon-plus, .icon-close {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-alert:before {content: "\e006";}
.icon-plus:before {content: "\e007";}
.icon-close:before { content : "\00d7"; }

::-webkit-input-placeholder { color: rgba(255,255,255,0.6 ); } /* WebKit browsers */
          :-moz-placeholder { color: rgba(255,255,255,0.6 ); } /* Mozilla Firefox 4 to 18 */
         ::-moz-placeholder { color: rgba(255,255,255,0.6 ); } /* Mozilla Firefox 19+ */
     :-ms-input-placeholder { color: rgba(255,255,255,0.6 ); } /* Internet Explorer 10+ */

input:focus,
select:focus,
textarea:focus,
button:focus { outline: none;}
textarea { resize: none; }
html, body {
	-webkit-user-select : none;
	   -moz-user-select : none;
	    -ms-user-select : none;
	        user-select : none;
	cursor : default;
}
html, body, div {
	font-family : "Lucida Grande", "Verdana", sans-serif;
	margin  : 0;
	padding : 0;
}
html { min-height : 100%; }
body {
	background-color : #2F3944;
	color : #fff;
	font-family : "Lato", "Arial", sans-serif;
}
.widget-header {
	background    : #3498DB;
	border-bottom : 3px solid #2772A4;
	border-radius : 5px;
	height        : 60px;
	margin        : 20px 0 0 0;
	padding       : 0;
	width         : 60%;
	div {
		width    : inherit;
		height   : inherit;
		padding-top  : 15px;
		overflow : hidden;
		input {
			text-align  : center;
			display     : inline-block;
			width       : 100%;
			margin-left : 10px;
			background  : #3498DB;
			color       : #FFF;
			border      : none;
			font-size   : 18px;
		}
		label { margin-top : 5px; }
	}
}
.main-area {
	position : relative;
	width    : 80%;
	margin   : 0 0 70px 0;
	-webkit-perspective : 800px;
	   -moz-perspective : 800px;
	    -ms-perspective : 800px;
	        perspective : 800px;
	-webkit-transform-origin : 50% 100%;
	   -moz-transform-origin : 50% 100%;
	    -ms-transform-origin : 50% 100%;
	        transform-origin : 50% 100%;
	.titles {
		margin-left : 10px;
		h1 {
			display   : inline-block;
			padding   : 10px 0 0 0;
			color     : #fff;
			font-size : 16px;
			&:nth-child(1) { margin-right : 50px; }
			&:nth-child(2) { margin-left  : 50px; }
		}
	}
	.question {
		display        : block;
		width          : 100%;
		white-space    : nowrap;
		height         : 55px;
		margin         : 15px 0 0 0;
  		-webkit-transform-style : preserve-3d;
  		   -moz-transform-style : preserve-3d;
  		    -ms-transform-style : preserve-3d;
  		        transform-style : preserve-3d;
		&.ng-enter, 
		&.ng-leave { 
			-webkit-transition : 1025ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
			   -moz-transition : 1025ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
			    -ms-transition : 1025ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
			        transition : 1025ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
		}
		&.ng-leave.ng-leave-active,
		&.ng-enter {
			-webkit-transform : rotateX(-180deg) translatez(30px);
			   -moz-transform : rotateX(-180deg) translatez(30px);
			    -ms-transform : rotateX(-180deg) translatez(30px);
			        transform : rotateX(-180deg) translatez(30px);
			opacity : 0;
			height  : 0;
			margin  : 0 0;
		}
		&.ng-enter.ng-enter-active,
		&.ng-leave {
			-webkit-transform : rotateX(0deg) translatez(0);
			   -moz-transform : rotateX(0deg) translatez(0);
			    -ms-transform : rotateX(0deg) translatez(0);
			        transform : rotateX(0deg) translatez(0);
			opacity : 1;
			height  : 55px;
			margin  : 15px 0 0 0;
		}
		.num {
			position : absolute;
			margin   : 14px 0 0 -22px;
		}
		textarea {
			width         : 43%;
			max-width     : 490px;
			margin        : 0 5px 0 5px;
			font-size     : 20px;
			height        : 25px;
			border        : none;
			padding       : 10px;
			border-radius : 5px;
			color         : #fff;
			background    : #1ABC9C;
			border-bottom : 3px solid #15987E;
			font-family   : "Lato", "Arial", sans-serif;
			overflow      : auto;
		}
		.icon-close {
			position  : absolute;
			margin    : 5px 0 0 6px;
			font-size : 30px;
		}
	}
	#add-new {
		display          : inline-block;
		left             : 50%;
		bottom           : 0;
		background-color : #3E606F;
		padding          : 8px 18px;
		margin           : 10px 0 -50px 0;
		border-radius    : 5px;
	}
}


