<div class='audio-controls'>
	<span id="playbtn" class='play-btn'
		ng-class="{'paused' : audio.paused}"
		ng-click='$event.stopPropagation(); play()' ng-keyup='checkKey($event.keyCode, this.id)' tabindex="0">
	</span>
	<span class='time'>
		<span class='seek-bar'>
			<input type='range'
				min='0.0'
				max='{{ duration }}'
				step='0.1'
				ng-model='currentTime'
				ng-mousedown='$event.stopPropagation(); preChangeTime()'
				ng-mouseup='$event.stopPropagation(); changeTime()'>
		</span>
		<span class='duration'>{{ toMinutes(currentTime) }} / {{ toMinutes(duration) }}</span>
	</span>
</div>