<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Matching Creator</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">
		<link rel="stylesheet" type="text/css" href="audioControls.css">
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="modules/matching.js"></script>
		<script src="controllers/creator.js"></script>
		<script src="directives/audioControls.js"></script>
		<script src="directives/focusMe.js"></script>
		<script src="directives/ngEnter.js"></script>
	</head>
	<body ng-app='matching' ng-controller="matchingCreatorCtrl">
		<div id='modal'></div>
		<div id='header'>
			<div class='logo'></div>
			<h1 id='title' ng-bind='widget.title' ng-click='showTitleDialog = true'></h1>
			<div class='link' ng-click='showTitleDialog = true'>Edit...</div>
			<div class='bottom'></div>
		</div>
		<section class='main-area'>
			<div class='titles' ng-show='widget.wordPairs.length'>
				<h1>Left Side</h1>
				<h1>Right Side</h1>
				<div class='pair-count'>{{widget.wordPairs.length}} Pairs</div>
			</div>
			<div id='question-container'>
				<div class='question'
					ng-repeat="pair in widget.wordPairs">
					<div class='green-box left-side'>
						<textarea class='question-text'
							ng-hide="checkMedia($index, 0)"
							ng-model="pair.question"
							ng-style='autoSize(pair, false)'
							focus-me='true'
							tabindex='{{$index+1}}'>
						</textarea>
						<div class="audio-display"
							ng-show="checkMedia($index, 0)"
							ng-style='autoSize(pair, true)'>
							<div ng-audio-controls
								audio-source="{{checkMedia($index, 0)
									&& audioUrl(widget.wordPairs[$index].media[0]) || ''}}"
								ng-if="checkMedia($index, 0)">
							</div>
							<textarea type="text"
								class="desc-input"
								placeholder="Audio Description"
								ng-model="pair.question"
								ng-style='autoSize(pair, false)'
								focus-me="checkMedia($index, 0)">
							</textarea>
						</div>
						<div class='audio-image'>
							<span class="add-audio"
								ng-hide="checkMedia($index, 0)"
								ng-click="beginMediaImport($index, 0); checkMedia($index, 0)">
							</span>
							<span class="remove-audio"
								ng-show="checkMedia($index, 0)"
								ng-click="removeAudio($index, 0)">
							</span>
						</div>
					</div>
					<div class='separate'></div>
					<div class='green-box right-side'>
						<textarea class='answer-text'
							ng-hide="checkMedia($index, 1)"
							ng-enter="addWordPair()"
							ng-style='autoSize(pair, false)'
							ng-model="pair.answer"
							tabindex='{{$index+2}}'>
						</textarea>
						<div class="audio-display"
							ng-show="checkMedia($index, 1)"
							ng-style='autoSize(pair, true)'>
							<div ng-audio-controls
								audio-source="{{checkMedia($index, 1)
									&& audioUrl(widget.wordPairs[$index].media[1]) || ''}}"
								ng-if="checkMedia($index, 1)">
							</div>
							<textarea type="text"
								class="desc-input"
								placeholder="Audio Description"
								ng-model="pair.answer"
								ng-style='autoSize(pair, false)'
								focus-me="checkMedia($index, 1)">
							</textarea>
						</div>
						<div class='audio-image'>
							<span class="add-audio"
								ng-hide="checkMedia($index, 1)"
								ng-click="beginMediaImport($index, 1); checkMedia($index, 1)">
							</span>
							<span class="remove-audio"
								ng-show="checkMedia($index, 1)"
								ng-click="removeAudio($index, 1)">
							</span>
						</div>
					</div>
					<span class='icon-close' ng-click="removeWordPair($index)"></span>
				</div>
			</div>
			<button id='add-new'
				class='icon-plus'
				ng-click="addWordPair()"
				tabindex='{{widget.wordPairs.length + 1}}'>
				Add Pair
			</button>
		</section>

		<div id='backgroundcover'
			ng-click='hideCover()'
			ng-class='{ show: showTitleDialog || showIntroDialog }'>
		</div>
		<div class='box intro'
			ng-class='{ show: showIntroDialog }'>
			<img src='assets/creator_example.png'>
			<h1>Matching</h1>
			<p>Create matching pairs of items that students connect.</p>
			<p>Pairs are split to five per page.</p>
			<p>Students receive credit equal to the percentage of pairs they match correctly.</p>
			<hr>
			<b>Start by giving your Matching widget a title</b><br>
			<input type='text'
				placeholder='My Matching widget'
				ng-model='introTitle'
				autofocus='1'
				ng-enter='setTitle()'
				focus-me='showIntroDialog'>
			<input type='button'
				value='Get Started'
				ng-click='setTitle()'>
		</div>
		<div class='box title'
			ng-class='{ show: showTitleDialog }'>
			<b>Give your Matching widget a title</b><br>
			<input type='text'
				placeholder='My Matching widget'
				ng-model='widget.title'
				ng-enter='hideCover()'
				focus-me='showTitleDialog'>
			<input type='submit'
				value='Done'
				ng-click='hideCover()'>
		</div>
		<div class='arrow_box'
			ng-show='!widget.wordPairs.length && step'>
			<span>Click here to add your first pair</span>
		</div>
	</body>
</html>
