@font-face {
	font-family: 'CorbelBold';
	src: url('assets/font/corbelb-webfont.eot');
	src: url('assets/font/corbelb-webfont.eot?#iefix') format('embedded-opentype'),
		 url('assets/font/corbelb-webfont.woff') format('woff'),
		 url('assets/font/corbelb-webfont.ttf') format('truetype'),
		 url('assets/font/corbelb-webfont.svg#CorbelBold') format('svg');
	font-weight : normal;
	font-style  : normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot');
	src:url('assets/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('assets/font/icomoon.woff') format('woff'),
		url('assets/font/icomoon.ttf') format('truetype'),
		url('assets/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-alert, .icon-plus, .icon-close {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: 8px;
}
.icon-alert:before {content: "\e006";}
.icon-plus:before {
	font-family: 'icomoon';
	content: "\e007";
	color: #fff;
	margin-right: 8px;
	margin-left: -10px;
}
.icon-close:before {
	content : "\00d7";
	font-weight: bold;
}

$green: #70bd34;

input:focus,
select:focus,
textarea:focus,
button:focus { outline: none;}
textarea { resize: none; }
html, body {
	-webkit-user-select : none;
	   -moz-user-select : none;
	    -ms-user-select : none;
	        user-select : none;
	cursor : default;
}
html, body, div {
	font-family: 'Lato', "Arial", sans-serif;
	font-weight: 300;
	margin  : 0;
	padding : 0;
}
html { min-height : 100%; }
body {
	background-color : #2F3944;
	color : #fff;
	font-family : "Lato", "Arial", sans-serif;
	overflow-x: hidden;
}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #333;
	padding: 13px 8px;
	z-index: 100;

	border-bottom: solid 10px #3393e3;

	.bottom {
		position:absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0px -8px;
		border-bottom: solid 1px #fff;
	}

	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
		cursor: pointer;
		max-width: 512px;
		overflow:hidden;
		white-space: nowrap;
		background:#333;
		z-index: 10;
		position: relative;
	}

	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
}

.widget-header {
	background    : #3498DB;
	border-bottom : 3px solid #2772A4;
	border-radius : 5px;
	height        : 60px;
	margin        : 20px 0 0 0;
	padding       : 0;
	width         : 60%;
	div {
		width    : inherit;
		height   : inherit;
		padding-top  : 15px;
		overflow : hidden;
		input {
			text-align  : center;
			display     : inline-block;
			width       : 100%;
			margin-left : 10px;
			background  : #3498DB;
			color       : #FFF;
			border      : none;
			font-size   : 18px;
		}
		label { margin-top : 5px; }
	}
}
.main-area {
	position : relative;
	width    : 80%;
	margin   : 20px 0 70px 0;
	perspective : 800px;
	transform-origin : 50% 100%;

	.titles h1 {
		display   : inline-block;
		padding   : 10px 0 0 0;
		color     : #fff;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size : 19px;
		width: 220px;
		text-align: center;
	}

	.titles .separate {
		display: inline-block;
		opacity: 0;
		vertical-align: middle;
		min-width: 60px;
		width: 25%;
		position: relative;
		margin: 2px 25px;
	}

	.pair-count {
		color:#ccc;
	}

	.question {
		display        : block;
		width          : 100%;
		white-space    : nowrap;
		margin         : 15px 0 0 0;
		transform-style : preserve-3d;
		&.ng-enter,
		&.ng-leave {
			transition : 1025ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
		}
		&.ng-leave.ng-leave-active,
		&.ng-enter {
			transform : rotateX(-180deg) translatez(50px);
			opacity : 0;
			height  : 0;
			margin-top: 0;
		}
		&.ng-enter.ng-enter-active,
		&.ng-leave {
			transform : rotateX(0deg) translatez(0);
			opacity : 1;
			height  : 48px;
			margin-top: 15px;
		}
		textarea {
			vertical-align: middle;
			width         : 200px;
			max-width     : 390px;
			margin        : 0 5px 0 5px;
			font-size     : 20px;
			height        : 25px;
			border        : none;
			padding       : 10px;
			border-radius : 5px;
			color         : #fff;
			background    : #1ABC9C;
			border-bottom : 3px solid #15987E;
			font-family   : "CorbelBold", sans-serif;
			font-weight   : 300;
			overflow      : auto;
			&.ng-empty.question-text {
				background-color: #FFBA74;
				border-bottom: 3px solid #FF9620;
			}
			&.ng-empty.answer-text {
				opacity: .4;
			}
		}
		.emptyInfoDot {
			width: 20px;
			height: 20px;
			display: inline-block;
			position: absolute;
			top: -5px;
			z-index: 2;
			margin-left : -20px;
			border-radius: 5px;
			&.left {
				background-color: red;
				&:hover {
					background-color: lighten(red, 15%);
				}
			}
			&.right {
				color: black;
				background-color: lightgoldenrodyellow;
				&:hover {
					background-color: darken(lightgoldenrodyellow, 5%);
				}
			}
		}
		.popup {
			opacity: 0;
			position: absolute;
			right: 0;
			z-index: -1;
			transition: 200ms;
			&.shown {
				clear: both;
				z-index: 1;
				opacity: .90;
				pointer-events: all;
				transition: 300ms;
				display: block;
			}
			.popup-text {
				position         : relative;
				height           : 40px;
				margin           : -5px 0 0 0;
				width            : 250px;
				padding          : 10px;
				color            : #222;
				background-color : #FFF;
				font-size        : 15px;
				white-space      : normal;
				word-wrap        : break-word;
				border-radius    : 10px;
				border-bottom    : 3px solid #DDD;
				overflow         : auto;
				clear            : both;
				pointer-events   : none;
				left: -20px;
			}
		}
		.separate {
			display: inline-block;
			vertical-align: middle;
			background: #5d666f;
			height: 5px;
			min-width: 60px;
			width: 25%;
			border-radius: 5px;
			position: relative;
			margin: 2px 20px;
		}
		.icon-close {
			position  : absolute;
			margin    : 5px 0 0 16px;
			font-size : 27px;
			cursor: pointer;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}
	#add-new {
		display          : inline-block;
		left             : 50%;
		margin-top: 50px;
		bottom           : 0;
		background-color : $green;
		padding          : 10px 28px;
		color: #fff;
		border: none;
		font-size: 16px;
		font-family: 'Lato';

		&:focus {
			background: #78bf39;
			box-shadow: 0px 0px 10px $green;
		}
		&:hover{
			background: #78DD5E;
			color: #000;
			cursor: pointer;
		}
	}
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
		&[type=button]:hover, &[type=submit]:hover{
			background: #78DD5E;
			color: #000;
			cursor: pointer;
		}
	}
}

.arrow_box {
	position: absolute;
	background: #fbf767;
	border: 2px solid #fbf767;
	left: 50%;
	top: 123px;
	color: #151515;
	font-weight: 400;
	padding: 5px;
	height: 50px;
	width: 150px;
	margin-left: 140px;

	animation: pounce 1s infinite;

	span {
		display: inline-block;
		width: 140px;
		float: right;
		margin-top: 5px;
		margin-right: 12px;
		text-align: right;
	}
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(251, 247, 103, 0);
	border-right-color: #fbf767;
	border-width: 60px;
	margin-top: -60px;
}
.arrow_box:before {
	border-color: rgba(251, 247, 103, 0);
	border-right-color: #fbf767;
	border-width: 63px;
	margin-top: -63px;
}

.wrap {
	display: inline;
	position: absolute;
}

@keyframes pounce {
	0% {
		margin-left: 150px;
	}
	50% {
		margin-left: 140px;
	}
	100% {
		margin-left: 150px;
	}
}

