<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Matching Creator</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-app='matchingCreator' ng-controller="matchingCreatorCtrl">
		<div id='modal'></div>
		<div id='header'>
			<div class='logo'></div>
			<h1 id='title' ng-bind='widget.title' ng-click='showTitleDialog = true'></h1>
			<div class='link' ng-click='showTitleDialog = true'>Edit...</div>
			<div class='bottom'></div>
		</div>
		<center>
		<section class='main-area'>
			<div class='titles' ng-show='widget.wordPairs.length'>
				<h1>Left Side</h1>
				<div class="separate"></div>
				<h1>Right Side</h1>
				<div class='pair-count'>
					<ng-pluralize count="widget.wordPairs.length"
						when="{'1': '1 Pair', 'other': '{} Pairs'}">
					</ng-pluralize>
				</div>
			</div>
			<div id='question-container'>
				<div class='question' ng-repeat="pair in widget.wordPairs">
					<textarea class='question-text' ng-enter="" ng-hide="checkMedia($index, 0)" ng-model="pair.question" ng-style='autoSize(pair, false)' focus-me='true' tabindex='{{$index+1}}'></textarea>
					<div class="emptyInfoDot left" ng-style='displayInfoDot(pair, true, $index)' ng-mouseenter="showPopup($event)" ng-mouseleave="hidePopup($event)">i</div>
					<div class="wrap">
						<div class="popup">
							<div class="popup-text left">Term can't be left blank.</div>
						</div>
					</div>
					<div class="audio-display" ng-show="checkMedia($index, 0)" ng-style='autoSize(pair, true)'>
						<audio id="audio" controls="controls" preload="none">
							<source id="audio-source" ng-src="{{checkMedia($index, 0) && widget.wordPairs[$index].media[0] || ''}}" type="audio/mpeg">
						</audio>
						<textarea type="text" class="desc-input" placeholder="Audio Description" ng-model="pair.question" ng-style='autoSize(pair, false)' focus-me="checkMedia($index, 0)"></textarea>
					</div>
					<div class="audio-image" ng-init="imgQ='assets/add_audio.svg'" ng-mouseover="imgQ='assets/add_audio_hover.svg'" ng-mouseout="imgQ='assets/add_audio.svg'">
						<img class="add-audio" ng-hide="checkMedia($index, 0)" ng-src="{{imgQ}}" ng-click="beginMediaImport($index, 0); checkMedia($index, 0)">

						<img class="add-audio" ng-init="removeImgQ='assets/remove_audio.svg'" ng-mouseover="removeImgQ='assets/remove_audio_hover.svg'" ng-mouseout="removeImgQ='assets/remove_audio.svg'" ng-show="checkMedia($index, 0)" ng-src="{{removeImgQ}}" ng-click="removeAudio($index, 0)">
					</div>
					<div class='separate'></div>
					<div class="audio-image" ng-init="imgA='assets/add_audio.svg'" ng-mouseover="imgA='assets/add_audio_hover.svg'" ng-mouseout="imgA='assets/add_audio.svg'">
						<img class="add-audio" ng-hide="checkMedia($index, 1)" ng-src="{{imgA}}" ng-click="beginMediaImport($index, 1); checkMedia($index, 1)">

						<img class="add-audio" ng-init="removeImgA='assets/remove_audio.svg'" ng-mouseover="removeImgA='assets/remove_audio_hover.svg'" ng-mouseout="removeImgA='assets/remove_audio.svg'" ng-show="checkMedia($index, 1)" ng-src="{{removeImgA}}" ng-click="removeAudio($index, 1)">
					</div>
					<textarea class='answer-text' ng-hide="checkMedia($index, 1)" ng-enter="addWordPair()" ng-style='autoSize(pair, false)' ng-model="pair.answer" tabindex='{{$index+2}}'></textarea>
					<div class="emptyInfoDot left" ng-style='displayInfoDot(pair, true, $index)' ng-mouseenter="showPopup($event)" ng-mouseleave="hidePopup($event)">i</div>
					<div class="wrap">
						<div class="popup">
							<div class="popup-text left">Term can't be left blank.</div>
						</div>
					</div>
					<div class="audio-display" ng-show="checkMedia($index, 1)" ng-style='autoSize(pair, true)'>
						<audio id="audio" controls="controls" preload="none">
							<source id="audio-source" ng-src="{{checkMedia($index, 1) && widget.wordPairs[$index].media[1] || ''}}" type="audio/mpeg">
						</audio>
						<textarea type="text" class="desc-input" placeholder="Audio Description" ng-model="pair.answer" ng-style='autoSize(pair, false)' focus-me="checkMedia($index, 1)"></textarea>
					</div>
					<span class='icon-close' ng-click="removeWordPair($index)"></span>
				</div>
			</div>
			<button id='add-new' class='icon-plus' ng-click="addWordPair()" tabindex='{{widget.wordPairs.length + 1}}'>
				Add Pair
			</button>
		</section>
		</center>

		<div id='backgroundcover' ng-click='hideCover()' ng-class='{ show: showTitleDialog || showIntroDialog }'></div>
		<div class='box intro' ng-class='{ show: showIntroDialog }'>
			<img src='assets/creator_example.png'>
			<h1>Matching</h1>
			<p>Create matching pairs of items that students connect.</p>
			<p>Pairs are split to five per page.</p>
			<p>Students receive credit equal to the percentage of pairs they match correctly.</p>
			<hr>
			<b>Start by giving your Matching widget a title</b><br>
			<input type='text' placeholder='My Matching widget' ng-model='introTitle' autofocus='1' ng-enter='setTitle()' focus-me='showIntroDialog'>
			<input type='button' value='Get Started' ng-click='setTitle()'>
		</div>
		<div class='box title' ng-class='{ show: showTitleDialog }'>
			<b>Give your Matching widget a title</b><br>
			<input type='text' placeholder='My Matching widget' ng-model='widget.title' ng-enter='hideCover()' focus-me='showTitleDialog'>
			<input type='submit' value='Done' ng-click='hideCover()'>
		</div>
		<div class='arrow_box' ng-show='!widget.wordPairs.length && step'>
			<span>Click here to add your first pair</span>
		</div>
	</body>
</html>
