<!DOCTYPE html>
<html>
	<head>
		<title>Matching Creator</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-app='matching' ng-controller="matchingCreatorCtrl">
		<div id='modal'></div>
		<div id='header'>
			<div class='logo'></div>
			<h1 id='title' ng-bind='widget.title' ng-click='showTitleDialog = true'></h1>
			<div class='link' ng-click='showTitleDialog = true'>Edit...</div>
			<button
				class="qb-button"
				ng-click="questionBankDialog = true"
				ng-disabled="widget.wordPairs.length < 1"
				ng-class="{'gray-out': enableQuestionBank !== true}">
				Question Bank: {{enableQuestionBank === true ? "On" : "Off"}}
			</button>
			<div class='bottom'></div>
		</div>
		<section class='main-area'>
			<div class='titles' ng-show='widget.wordPairs.length'>
				<h1>Left Side</h1>
				<div class="separate"></div>
				<h1>Right Side</h1>
				<div class='pair-count'>
					<ng-pluralize count="widget.wordPairs.length"
						when="{'1': '1 Pair', 'other': '{} Pairs'}">
					</ng-pluralize>
				</div>
			</div>
			<div id='question-container'>
				<div class='question'
					ng-repeat="pair in widget.wordPairs">
					<div class='green-box left-side' data-index='{{$index}}' input-state-manager>
						<textarea class='question-text'
							ng-class="{'hasProblem' : hasQuestionProblem}"
							ng-hide="checkMedia($index, 0)"
							ng-model="pair.question"
							ng-style='autoSize(pair, false)'
							focus-me='true'
							ng-focus="updateInputState(FOCUS, $event)"
							ng-blur="updateInputState(BLUR, $event)"
							tabindex='{{$index+1}}'>
						</textarea>
						<div class="audio-display"
							ng-show="checkMedia($index, 0)"
							ng-style='autoSize(pair, true)'>
							<div ng-audio-controls
								audio-source="{{checkMedia($index, 0)
									&& audioUrl(widget.wordPairs[$index].media[0]) || ''}}"
								ng-if="checkMedia($index, 0)">
							</div>
							<textarea type="text"
								class="desc-input"
								placeholder="Audio Description"
								ng-model="pair.question"
								ng-style='autoSize(pair, false)'
								focus-me="checkMedia($index, 0)">
							</textarea>
						</div>
						<div class="emptyInfoDot"
							ng-class="{'error': !checkMedia($index, 0),
								'warning': checkMedia($index, 0)}"
							ng-show="hasQuestionProblem ||
								(checkMedia($index, 0) && (pair.question == '' || !pair.question))">
							i
						</div>
						<div class="wrap">
							<div class="popup">
								<div class="popup-text error"
									ng-hide="checkMedia($index, 0)">
									Term can't be left blank.
								</div>
								<div class="popup-text error"
									ng-show="checkMedia($index, 0) && (pair.question == '' || !pair.question)">
									Audio description is recommended.
								</div>
							</div>
						</div>
						<div class='audio-image'>
							<span class="add-audio"
								ng-hide="checkMedia($index, 0)"
								ng-click="beginMediaImport($index, 0); checkMedia($index, 0)">
							</span>
							<span class="remove-audio"
								ng-show="checkMedia($index, 0)"
								ng-click="removeAudio($index, 0)">
							</span>
						</div>
					</div>

					<div class='separate'></div>

					<div class='green-box right-side' data-index='{{$index}}' input-state-manager>
						<textarea class='answer-text'
							ng-class="{'hasProblem' : hasAnswerProblem}"
							ng-hide="checkMedia($index, 1)"
							ng-enter="addWordPair()"
							ng-style='autoSize(pair, false)'
							ng-model="pair.answer"
							ng-focus="updateInputState(FOCUS, $event)"
							ng-blur="updateInputState(BLUR, $event)"
							tabindex='{{$index+2}}'>
						</textarea>
						<div class="audio-display"
							ng-show="checkMedia($index, 1)"
							ng-style='autoSize(pair, true)'>
							<div ng-audio-controls
								audio-source="{{checkMedia($index, 1)
									&& audioUrl(widget.wordPairs[$index].media[1]) || ''}}"
								ng-if="checkMedia($index, 1)">
							</div>
							<textarea type="text"
								class="desc-input"
								placeholder="Audio Description"
								ng-model="pair.answer"
								ng-style='autoSize(pair, false)'
								focus-me="checkMedia($index, 1)">
							</textarea>
						</div>
						<div class="emptyInfoDot"
							ng-class="{'error': !checkMedia($index, 1),
								'warning': checkMedia($index, 1)}"
							ng-show="hasAnswerProblem ||
								(checkMedia($index, 1) && (pair.answer == '' || !pair.answer))">
							i
						</div>
						<div class="wrap">
							<div class="popup">
								<div class="popup-text error"
									ng-hide="checkMedia($index, 1)">
									Term can't be left blank.
								</div>
								<div class="popup-text error"
									ng-show="checkMedia($index, 1) && (pair.answer == '' || !pair.answer)">
									Audio description is recommended.
								</div>
							</div>
						</div>
						<div class='audio-image'>
							<span class="add-audio"
								ng-hide="checkMedia($index, 1)"
								ng-click="beginMediaImport($index, 1); checkMedia($index, 1)">
							</span>
							<span class="remove-audio"
								ng-show="checkMedia($index, 1)"
								ng-click="removeAudio($index, 1)">
							</span>
						</div>
					</div>
					<span class='icon-close' ng-click="removeWordPair($index)"></span>
				</div>
			</div>
			<button id='add-new'
				class='icon-plus'
				ng-click="addWordPair()"
				tabindex='{{widget.wordPairs.length + 1}}'>
				Add Pair
			</button>
		</section>
		<div id='backgroundcover'
			ng-click='hideCover()'
			ng-class='{ show: showTitleDialog || showIntroDialog || showErrorDialog || questionBankDialog }'>
		</div>
		<div class='box intro'
			ng-class='{ show: showIntroDialog }'>
			<img src='assets/creator_example.png'>
			<h1>Matching</h1>
			<p>Create matching pairs of items that students connect.</p>
			<p>Pairs are split to five per page.</p>
			<p>Students receive credit equal to the percentage of pairs they match correctly.</p>
			<hr>
			<b>Start by giving your Matching widget a title</b><br>
			<input type='text'
				placeholder='My Matching widget'
				ng-model='introTitle'
				autofocus='1'
				ng-enter='setTitle()'
				focus-me='showIntroDialog'>
			<input type='button'
				value='Get Started'
				ng-click='setTitle()'>
		</div>
		<div class='box title'
			ng-class='{ show: showTitleDialog }'>
			<b>Give your Matching widget a title</b><br>
			<input type='text'
				placeholder='My Matching widget'
				ng-model='widget.title'
				ng-enter='hideCover()'
				focus-me='showTitleDialog'>
			<input type='submit'
				value='Done'
				ng-click='hideCover()'>
		</div>
		<div class='box error'
			ng-class='{ show: showErrorDialog }'>
			<b>Can't Save. Make sure your widget has a title and no invalid word pairs.</b><br>
			<input type='submit'
				value='Okay'
				ng-click='hideCover()'>
		</div>
			<div class="box question-bank-dialog"
				ng-class= '{ show: questionBankDialog }'
				ng-click= 'hideCover()'>
				<div class="enable-qb-question">
					<label style="font-weight: bold;">Enable question bank? </label>
					<div class="enable-qb-options"
						ng-click="$event.stopPropagation()">
						<span>
							<input type="radio" ng-model="enableQuestionBank" ng-value=false> No</input>
							<input type="radio" ng-model="enableQuestionBank" ng-value=true ng-change="questionBankVal = widget.wordPairs.length; questionBankValTemp = widget.wordPairs.length"> Yes</input>
						</span>
					</div>
				</div>
				<div>
					<span ng-show="enableQuestionBank" >
						<label style="font-weight: bold;">How many questions to ask? </label>
						<div class="num-input-wrapper"
							ng-click="$event.stopPropagation()">
							<input class="num-input" type="number" ng-model="questionBankValTemp" ng-change="validateQuestionBankVal()" step="1">
							<span> out of {{widget.wordPairs.length}} </span>
						</div>
					</span>
				</div>
				<p class="qb-warning">If question bank is enabled, questions will be randomized. </p>
				<button class="dialog-close-button" ng-disabled="questionBankValTemp < 1 || questionBankValTemp > widget.wordPairs.length" ng-click="questionBankDialog = false">Confirm</button>
			</div>
		<div class='arrow_box'
			ng-show='!widget.wordPairs.length && step'>
			<span>Click here to add your first pair</span>
		</div>
	</body>
</html>
