<!DOCTYPE html>
<html>
	<head>
		<title>Matching Materia Widget</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="player.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.enginecore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>

		<!-- MAIN PLAYER SCRIPT -->
		<script src="player.js"></script>
	</head>
	<body ng-app='matching' ng-controller='matchingPlayerCtrl'>

		<header id="header">
			<h1>{{ title }}</h1>
			<button id="instructions-btn" class="instructions-btn" ng-click="toggleInstructions()" aria-describedby="screenreader-instructions">Keyboard Instructions</button>
		</header>

		<div class="assistive-element" id="assistive-notification" aria-live="polite"></div>
		<div class="assistive-element" id="assistive-alert" aria-live="assertive"></div>

		<div class="assistive-element" id="screenreader-instructions">
			Select a question from the question list by using space or enter. Match it to an answer by selecting
			one from the answer list and using space or enter to confirm your choice. Use the left and right arrow keys to quickly switch
			between the question and answer lists.
		</div>
		<section
			id="gameboard"
			class="gameboard"
			ng-class="{'pageAnimate': pageAnimate}"
			aria-label="Game board."
			role="application"
			tabindex="0">
			<ul class="column column1">
				<li class="word"
					tabindex="0"
					role="term"
					aria-label="{{'Question: ' + ($index+1) + ' of ' + pages[currentPage].questions.length + ': ' + question.text + ', ' + (isInMatch(question) ? 'Matched with: ' + getMatchWith(question) : 'Unmatched.') + (checkForQuestionAudio($index) ? ' This question has an audio clue.' : '')}}"
					ng-repeat="question in pages[currentPage].questions"
					ng-keyup="handleBoardKeypress($event, question)"
					ng-click="selectQuestion(question)"
					ng-mouseover="drawPrelineToLeft(question)"
					ng-mouseleave="unapplyHoverSelections()"
					ng-class="{'matched' : isInMatch(question)}">

					<div class="word-text">
						<span class="text-wrapper"
							ng-class="{'long': (question.text.length > 17)}">
							{{checkForQuestionAudio($index) ? "" : question.text}}
						</span>
						<span ng-class="{'expand': (question.text.length > 61),
							'noExpand': (question.text.length <= 61 || checkForQuestionAudio($index))}"
							data-icon="&#xe000;"
							aria-hidden="true">
						</span>
					</div>

					<div ng-audio-controls
						audio-source="{{question.asset}}"
						ng-if="checkForQuestionAudio($index)">
					</div>

					<div class="wrap">
						<div class="popup"
							ng-hide="checkForQuestionAudio($index)"
							ng-class="{'shown': (question.text.length > 61)}">
							<div class="popup-text left">
								{{question.text}}
							</div>
							<div class="popup-arrow"
								ng-class="{'left': (question.text.length > 61)}">
							</div>
						</div>
					</div>

					<div class="wrap">
						<div class="popup" ng-class="{'shown': (question.text.length > 61)}">
							<div class="popup-text left">{{question.text}}</div>
							<div class="popup-arrow" ng-class="{'left': (question.text.length > 61)}"></div>
						</div>
					</div>
				</li>
			</ul>

			<div class="column svg-column">
				<svg id="holder" style="height:450px">

					<line ng-repeat="line in lines[currentPage]"
						class="linePlaced"
						ng-attr-x1="{{line.startX}}"
						ng-attr-y1="{{line.startY}}"
						ng-attr-x2="{{line.endX}}"
						ng-attr-y2="{{line.endY}}"/>

					<line ng-repeat="line in prelines"
						ng-attr-x1="{{line.linex1}}"
						ng-attr-x2="{{line.linex2}}"
						ng-attr-y1="{{line.liney1}}"
						ng-attr-y2="{{line.liney2}}"/>

					<circle class="hollows"
						ng-repeat="circle in questionCircles[currentPage]"
						ng-attr-r="{{circle.r}}"
						ng-attr-cx="{{circle.cx}}"
						ng-attr-cy="{{circle.cy}}"
						ng-class="{'hollows-selected' : questionCircles[currentPage][$index].isHover,
							'hollows-hover' : questionCircles[currentPage][$index].lightHover}">
					</circle>

					<circle
						class = "{{circle.color}}"
						ng-repeat="circle in questionCircles[currentPage]"
						ng-class="{'selected' : applyCircleClass(circle),
							'circleHover' : questionCircles[currentPage][$index].isHover}"
						ng-attr-r="{{circle.r/2}}"
						ng-attr-cx="{{circle.cx}}"
						ng-attr-cy="{{circle.cy}}">
					</circle>

					<circle class="hollows"
						ng-repeat="circle in answerCircles[currentPage]"
						ng-attr-r="{{circle.r}}"
						ng-attr-cx="{{circle.cx}}"
						ng-attr-cy="{{circle.cy}}"
						ng-class="{'hollows-selected' : answerCircles[currentPage][$index].isHover,
							'hollows-hover' : answerCircles[currentPage][$index].lightHover}">
					</circle>

					<circle
						class = "{{circle.color}}"
						ng-repeat="circle in answerCircles[currentPage]"
						ng-class="{'selected' : applyCircleClass(circle),
							'circleHover': answerCircles[currentPage][$index].isHover}"
						ng-attr-r="{{circle.r/2}}"
						ng-attr-cx="{{circle.cx}}"
						ng-attr-cy="{{circle.cy}}">
					</circle>

				</svg>
			</div>

			<ul class="column column2">
				<li class="word"
					tabindex="0"
					role="definition"
					aria-label="{{'Answer. ' + ($index+1) + ' of ' + pages[currentPage].answers.length + ': ' + answer.text + ', ' + (isInMatch(answer) ? 'Matched with: ' + getMatchWith(answer) : 'Unmatched.') + (checkForAnswerAudio($index) ? ' This answer has an audio clue.' : '')}}"
					ng-repeat="answer in pages[currentPage].answers"
					ng-click="selectAnswer(answer)"
					ng-keyup="handleBoardKeypress($event, answer)"
					ng-mouseover="drawPrelineToRight(answer)"
					ng-mouseleave="unapplyHoverSelections()"
					ng-class="{matched : isInMatch(answer)}">
					<span class='clickable'></span>
					<div class="word-text">
						<span class="text-wrapper"
							ng-class="{'long': (answer.text.length > 17)}">
							{{checkForAnswerAudio($index) ? "" : answer.text}}
						</span>
						<span ng-class="{'expand': (answer.text.length > 61),
							'noExpand': (answer.text.length <= 61 || checkForAnswerAudio($index))}"
							data-icon="&#xe000;"
							aria-hidden="true">
						</span>
					</div>

					<div ng-audio-controls
						audio-source="{{answer.asset}}"
						ng-if="checkForAnswerAudio($index)">
					</div>

					<div class="wrap">
						<div class="popup"
							ng-hide="checkForAnswerAudio($index)"
							ng-class="{'shown': (answer.text.length > 61)}">
							<div class="popup-text right">
								{{answer.text}}
							</div>
							<div class="popup-arrow"
								ng-class="{'right': (answer.text.length > 61)}">
							</div>
						</div>
					</div>
				</li>
			</ul>
		</section>

		<footer ng-class="{'onTop': pageAnimate}">
			<section id="page-selector">
				<button id="prev-button"
					ng-click="changePage('previous')"
					ng-class="{'shown': currentPage >= 1}"
					ng-disabled="currentPage < 1"
					aria-label="{{'Return to page ' + currentPage + ' of ' + totalPages + '. ' + completePerPage[currentPage] + ' of ' + pages[currentPage].questions.length + ' matches complete for the current page.' }}">
					Previous Page
				</button>
				<span id="page-num" ng-class="{'animateRotationRight': pageAnimate && pageNext,
					'animateRotationLeft': pageAnimate && !pageNext}">
					Page <span>{{currentPage+1}}</span>/<span>{{totalPages}}</span>
				</span>
				<button id="next-button"
					ng-click="changePage('next')"
					ng-class="{'shown': currentPage+1 < totalPages}"
					ng-disabled="currentPage+1 >= totalPages"
					aria-label="{{ 'Advance to page ' + (currentPage+2) + ' of ' + totalPages + '. ' + completePerPage[currentPage] + ' of ' + pages[currentPage].questions.length + ' matches complete for the current page.' }}">
					Next Page
				</button>
			</section>

			<section id="submit">
				<div id="progress-bar">
					<svg xmlns="http://www.w3.org/2000/svg">
						<rect id="bar"
							x="0" y="0" rx="5" ry="5"
							ng-attr-width="{{getProgressAmount()}}" height="10"
							style="stroke-width: 1px;
								stroke: rgb(189, 195, 199);
								fill: rgb(189, 195, 199);
								opacity: 1;">
						</rect>
					</svg>
				</div>
				<button id="submit-button"
					aria-label="Submit for scoring"
					ng-click="submit()"
					ng-class="{'glowing': matches.length == totalItems && setCreated}" ng-disabled="matches.length != totalItems && setCreated">
					Done
			</button>
			</section>
		</footer>
		<dialog
			class="instructions-dialog"
			ng-class="{'show' : showInstructions }"
			role="alertdialog"
			aria-modal="true"
			aria-describedby="instructions-dialog-caption"
			tabindex="0">
			<span id="instructions-dialog-caption">Use tab and shift-tab to move between items and buttons at the bottom.
				Use enter or space to select an item to match. Use left arrow and right arrow to quickly switch between the left and right side.
			</span>
			<header>Keyboard Instructions</header>
			<p>Use <span class="highlight">tab</span> and <span class="highlight">shift+tab</span> to move between items and buttons at the bottom.</p>
			<p>Use <span class="highlight">enter</span> or <span class="highlight">space</span> to select an item to match.</p>
			<p>Use <span class="highlight">left arrow</span> and <span class="highlight">right arrow</span> to quickly switch between the left and right side.</p>
			<button id="dialog-dismiss" class="dismiss" ng-click="toggleInstructions()" tabindex="0" autofocus>Okay</button>
		</dialog>
		<div class="modal-cover" ng-class="{'show' : showInstructions }"></div>
	</body>
</html>
