<!DOCTYPE html>
<html>
	<head>
		<title>Materia Widget Player</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="player.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.enginecore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>

		<!-- MAIN PLAYER SCRIPT -->
		<script src="player.js"></script>
	</head>
	<body ng-app='matching' ng-controller='matchingPlayerCtrl'>

		<header id="header">
			<h1>{{ title }}</h1>
			<span class="clip" aria-label="Select a term and then match it with the correct definition. Match all terms to complete the widget."></span>
			<div id="update" class="clip" aria-live="assertive" tabindex="-1"></div>
		</header>

		<section class="gameboard"
			ng-class="{'pageAnimate': pageAnimate}">
			<ul id="column1" aria-label="Column 1: Terms" class="column column1">
				<li class="word" 
					ng-repeat="question in pages[currentPage].questions"
					ng-click="selectQuestion(question)" ng-keyup="$event.keyCode == 13 ? selectQuestion(question) : null"
					ng-mouseover="drawPrelineToLeft(question)"
					ng-mouseleave="unapplyHoverSelections()"
					ng-class="{'matched' : isInMatch(question)}" tabindex="0">

					<div aria-hidden="true" class="word-text">
						<span class="text-wrapper"
							ng-class="{'long': (question.text.length > 17)}">
							{{checkForQuestionAudio($index) ? "" : question.text}}
						</span>
						<span ng-class="{'expand': (question.text.length > 61),
							'noExpand': (question.text.length <= 61 || checkForQuestionAudio($index))}"
							data-icon="&#xe000;"
							aria-hidden="true">
						</span>
					</div>

					<div ng-audio-controls
						audio-source="{{question.asset}}"
						ng-if="checkForQuestionAudio($index)">
					</div>

					<div class="wrap">
						<div class="popup"
							ng-hide="checkForQuestionAudio($index)"
							ng-class="{'shown': (question.text.length > 61)}">
							<div class="popup-text left question-item" aria-label="{{ question.text }}. {{ question.matchedWith }}">
							</div>
							<div class="popup-arrow"
								ng-class="{'left': (question.text.length > 61)}">
							</div>
						</div>
					</div>

					<div aria-hidden="true" class="wrap">
						<div class="popup" ng-class="{'shown': (question.text.length > 61)}">
							<div class="popup-text left">{{question.text}}</div>
							<div class="popup-arrow" ng-class="{'left': (question.text.length > 61)}"></div>
						</div>
					</div>
				</li>
			</ul>

			<div class="column svg-column">
				<svg id="holder" style="height:450px">

					<line ng-repeat="line in lines[currentPage]"
						class="linePlaced"
						ng-attr-x1="{{line.startX}}"
						ng-attr-y1="{{line.startY}}"
						ng-attr-x2="{{line.endX}}"
						ng-attr-y2="{{line.endY}}"/>

					<line ng-repeat="line in prelines"
						ng-attr-x1="{{line.linex1}}"
						ng-attr-x2="{{line.linex2}}"
						ng-attr-y1="{{line.liney1}}"
						ng-attr-y2="{{line.liney2}}"/>

					<circle class="hollows"
						ng-repeat="circle in questionCircles[currentPage]"
						ng-attr-r="{{circle.r}}"
						ng-attr-cx="{{circle.cx}}"
						ng-attr-cy="{{circle.cy}}"
						ng-class="{'hollows-selected' : questionCircles[currentPage][$index].isHover,
							'hollows-hover' : questionCircles[currentPage][$index].lightHover}">
					</circle>

					<circle
						class = "{{circle.color}}"
						ng-repeat="circle in questionCircles[currentPage]"
						ng-class="{'selected' : applyCircleClass(circle),
							'circleHover' : questionCircles[currentPage][$index].isHover}"
						ng-attr-r="{{circle.r/2}}"
						ng-attr-cx="{{circle.cx}}"
						ng-attr-cy="{{circle.cy}}">
					</circle>

					<circle class="hollows"
						ng-repeat="circle in answerCircles[currentPage]"
						ng-attr-r="{{circle.r}}"
						ng-attr-cx="{{circle.cx}}"
						ng-attr-cy="{{circle.cy}}"
						ng-class="{'hollows-selected' : answerCircles[currentPage][$index].isHover,
							'hollows-hover' : answerCircles[currentPage][$index].lightHover}">
					</circle>

					<circle
						class = "{{circle.color}}"
						ng-repeat="circle in answerCircles[currentPage]"
						ng-class="{'selected' : applyCircleClass(circle),
							'circleHover': answerCircles[currentPage][$index].isHover}"
						ng-attr-r="{{circle.r/2}}"
						ng-attr-cx="{{circle.cx}}"
						ng-attr-cy="{{circle.cy}}">
					</circle>

				</svg>
			</div>

			<ul id="column2" aria-label="Column 2: Definitions." class="column column2">
				<li class="word"
					ng-repeat="answer in pages[currentPage].answers"
					ng-click="selectAnswer(answer)" ng-keyup="$event.keyCode == 13 ? selectAnswer(answer) : null"
					ng-mouseover="drawPrelineToRight(answer)"
					ng-mouseleave="unapplyHoverSelections()"
					ng-class="{matched : isInMatch(answer)}" tabindex="0">
					<span class='clickable'></span>
					<div tabindex="-1" aria-hidden="true" class="word-text">
						<span class="text-wrapper"
							ng-class="{'long': (answer.text.length > 17)}">
							{{checkForAnswerAudio($index) ? "" : answer.text}}
						</span>
						<span ng-class="{'expand': (answer.text.length > 61),
							'noExpand': (answer.text.length <= 61 || checkForAnswerAudio($index))}"
							data-icon="&#xe000;"
							aria-hidden="true">
						</span>
					</div>

					<div tabindex="-1" ng-audio-controls
						audio-source="{{answer.asset}}"
						ng-if="checkForAnswerAudio($index)" tabindex="0" function-from-player="functionFromPlayer" spoken-label="{{answer.text + '. ' + answer.matchedWith}}">
					</div>

					<div tabindex="-1" class="wrap">
						<div class="popup"
							ng-hide="checkForAnswerAudio($index)"
							ng-class="{'shown': (answer.text.length > 61)}">
							<div class="popup-text right answer-item" aria-label="{{ answer.text }}. {{ answer.matchedWith }}">
								
							</div>
							<div class="popup-arrow"
								ng-class="{'right': (answer.text.length > 61)}">
							</div>
						</div>
					</div>
				</li>
			</ul>
		</section>

		<footer ng-class="{'onTop': pageAnimate}">
			<section id="page-selector">
				<span class="button" id="prev-button"
					ng-click="changePage('previous')" ng-keyup="$event.keyCode == 13 ? changePage('previous') : null"
					ng-class="{'shown': currentPage >= 1}" aria-hidden="true" tabindex="-1">
					Previous Page
				</span>
				<span class="button" id="next-button" title="THE Next Page"
					ng-click="changePage('next')" ng-keyup="$event.keyCode == 13 ? changePage('next') : null"
					ng-class="{'shown': currentPage+1 < totalPages}" aria-hidden="false" tabindex="0">
					Next Page
				</span>
				<span id="page-num" ng-class="{'animateRotationRight': pageAnimate && pageNext,
					'animateRotationLeft': pageAnimate && !pageNext}">
					Page <span>{{currentPage+1}}</span>/<span>{{totalPages}}</span>
				</span>
			</section>

			<section id="submit">
				<div id="progress-bar">
					<svg xmlns="http://www.w3.org/2000/svg">
						<rect id="bar"
							x="0" y="0" rx="5" ry="5"
							ng-attr-width="{{getProgressAmount()}}" height="10"
							style="stroke-width: 1px;
								stroke: rgb(189, 195, 199);
								fill: rgb(189, 195, 199);
								opacity: 1;">
						</rect>
					</svg>
				</div>
				<div class="button" id="submit-button" title="Done" ng-click="submit()" ng-keyup="$event.keyCode == 13 ? submit() : null"
					ng-class="{'glowing': matches.length == totalItems && setCreated}" ng-show="checkEnd ? true : false" tabindex="0">
					Done
				</div>
			</section>
		</footer>
	</body>
</html>
