$mobile_w_px: 576px;

body {
  background: #2D3E50; /* Dark Slate Background */
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding: 15px 30px 30px 30px;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0.5em 0;
}

.headings {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.sub-heading {
  color: #94A3B8;
  font-size: 0.9 rem; 
  margin-bottom: 40px !important; 
  text-align: center;
  letter-spacing: 1px;
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
}

#score-card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0;
}

.match-row {
  background-color: #34495E; 
  border-radius: 16px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pair-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #9C9CB2;
  font-weight: 700;
  letter-spacing: 1px;
}

.interaction-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  //gap: 15px;
  width: 100%;
}

.pill {
  padding: 12px 20px;
  border-radius: 50px; 
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; 
  position: relative;

  .audio-indicator {
    background: url('assets/volume-low.svg') 0 0 no-repeat; 
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
  }

}

/* left pill is always Grey */
.term-pill {
  background-color: #5A6C7D;
  color: #ffffff;
  flex: 0 0 30%;
  max-width: 30%;
}

/* line connecting the jits */
.connector {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* center icon */
  display: block;
  margin-left: 16px;
  margin-right: 16px;
}

.line {
  height: 2.5px;
  width: 100%;
  border-radius: 2px;
}

.icon-badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.1rem;
  position: absolute; 
  left: calc(50% - 15px);
  top: -15px;
}

.user-pill {
  flex: 0 0 30%;
  max-width: 30%;
  position: relative;
}

/* --- DYNAMIC STATES --- */
.state-correct .line { background-color: #26A69A; }
.state-correct .icon-badge { background-color: #26A69A; }
.state-correct .user-pill { 
    background-color: #26A69A; 
    color: #FFF;
} 

.state-incorrect .line { background-color: #EF4444; }
.state-incorrect .icon-badge { background-color: #EF4444; }
.state-incorrect .user-pill { 
    &:before { 
      border-color: #EF4444;
    }
    background-color: #EF4444; 
    color: white; 
}

/* CHANGED: Correction Row (Hidden by default) */
.correction-container {
  display: none; /* Hidden unless JS turns it on */
  justify-content: flex-end; 
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.correction-label {
  color: #94A3B8;
  font-weight: 500; 
  font-size: 0.9rem;
}

.correct-pill {
  background-color: #26A69A;
  color: #ffffff;
  flex: 0 0 30%;
  max-width: 30%;
}

@media (width < $mobile_w_px) {
  body {
    padding: 4px 8px 4px 8px;
  }

  .headings {
    font-size: 1.5rem;
  }

  .match-row {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .pill {
    min-width: 0px;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 16px; 

    .audio-indicator {
      background-size: 15px 15px;
      width: 15px;
      height: 15px;
    }
  }

  .term-pill {
    min-width: 0px;
    width: fit-content;
  }

  .user-pill {
    min-width: 0px;
    width: fit-content;
  }

  .correct-pill {
    min-width: 0px;
    width: fit-content;
  }
}
